<!DOCTYPE html>
<html lang="hr">
    <head>
        <title>Nacionalni parkovi</title>
        <meta charset="UTF-8">
        <meta name="description" content="Baza podataka nacionalnih parkova">
        <meta name="author" content="Lucija Perković">
        <meta name="keywords" content="national parks, nacionalni parkovi, Yellowstone, Plitvička jezera">
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="./styles/datatables.css">
        <link rel="stylesheet" href="./styles/main.css">
        <script type="text/javascript" charset="utf8" src="./styles/datatables.js"></script>
      
        <script>
            $(document).ready( function () {
		        $('#myTable').DataTable();
            } );
            
        </script>
    </head>
    <body>
        
        <h1>Nacionalni parkovi</h1>
        
        <table id = "myTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Naziv parka</th>
                    <th>Godina osnutka</th> 
                    <th>Država</th>
                    <th>Lokacija</th>
                    <th>Wikipedia stranica</th> 
                    <th>Prosječni broj posjetitelja godišnje</th>
                    <th>Površina (km na kvadrat)</th>
                    <th>Nativna vrsta</th> 
                    <th>Službena stranica</th>
                    <th>Klima</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% let br = 1 %>
                
                <% for (let park of nac_parkovi) { %>
                    
                    <tr><td><%=park.id%></td>
                        <td><%=park.nazivparka%></td>
                        <td><%=park.godinaosnutka%></td> 
                        <td><%=park.drzava%></td>
                        <td><%=park.lokacija%></td>
                        <td><%=park.wikipediastranica%></td> 
                        <td><%=park.prosjbrposjetiteljagodisnje%></td>
                        <td><%=park.povrsina%></td>
                        <td><%=park.nativnavrsta%></td> 
                        <td><a href="<%=park.sluzbenastranica%>"><%=park.sluzbenastranica%></a></td>
                        <td><%=park.klima%></td>
                        <td><input type="button" value="View" class="button button_view" id = "view_click" onclick="viewFunction(this.parentNode.parentNode)" ></td>
                        <td><input type="button" value="Edit" class="button button_edit" id = "edit_click" onclick="openForm(this.parentNode.parentNode)"></td>
                        <td><input type="button" value="Delete" class="button button_delete" id = "delete_click" onclick="deleteFunction(this.parentNode.parentNode)"></td>
                    </tr>
                   
                <%}%>
            </tbody>
        </table>
        
        <br>
        
        <div>
            <input type="button" value="Dodaj nacionalni park" class="button button_add" id = "add_click" onclick="addFunction(this.parentNode.parentNode)">
            <a href="/JSONDownload" download ><input type="button" value="JSON Download" class="button button_download"></a>
        </div>
        
        <div class="form-popup" id="myForm">
            <form class="form-container"><fieldset>
                <legend>Edit national park</legend>
                <label for="id"><b>ID</b></label>
                <input type="text" id = "id"  name="ID" readonly>
                <label for="naziv_parka"><b>Naziv parka</b></label>
                <input type="text" id = "naziv_parka" placeholder="Upišite naziv parka" name="naziv_parka" required>

                <label for="godina_osnutka"><b>Godina osnutka</b></label>
                <input type="text" id = "godina_osnutka" placeholder="Upišite godinu osnutka" name="godina_osnutka" required>

                <label for="drzava"><b>Država</b></label>
                <input type="text" id = "drzava" placeholder="Upišite državu" name="drzava" required>

                <label for="lokacija"><b>Lokacija</b></label>
                <input type="text" id = "lokacija" placeholder="Upišite lokaciju" name="lokacija" required>

                <label for="wikipedia_stranica"><b>Wikipedia Stranica</b></label>
                <input type="text" id = "wikipedia_stranica" placeholder="Upišite Wiki Handle" name="wikipedia_stranica" required>

                <label for="prosj_broj"><b>Prosječni broj posjetitelja godišnja</b></label>
                <input type="text" id = "prosj_broj" placeholder="Upišite prosječni broj" name="prosj_broj" required>

                <label for="povrsina"><b>Površina</b></label>
                <input type="text" id = "povrsina" placeholder="Upišite površinu" name="povrsina" required>

                <label for="nativna_vrsta"><b>Nativna vrsta</b></label>
                <input type="text" id = "nativna_vrsta" placeholder="Upišite nativnu_vrstu" name="nativna_vrsta" required>

                <label for="sluzbena_stranica"><b>Službena stranica</b></label>
                <input type="text" id = "sluzbena_stranica" placeholder="Link na službenu stranicu" name="sluzbena_stranica" required>

                <label for="klima"><b>Klima</b></label>
                <input type="text" id = "klima" placeholder="Upišite klimu" name="klima" required>

                <button type="submit" class="button button_add" id = "edit_button">Save</button>
                <button type="button" class="button cancel" onclick="closeForm()">Cancel</button>
            </form>
        </fieldset>
                
           
        </div>
        <div class="form-popup" id="myViewForm">
            <img src="" alt="Wikipedia Picture" width="1000" height="300" id = "image">
        </div>

        <div class="form-popup" id="myAddForm">
            <form class="form-container"><fieldset>
                <legend>Add national park</legend>

                <label for="naziv_parka"><b>Naziv parka</b></label>
                <input type="text" id = "naziv_parka_add" placeholder="Upišite naziv parka" name="naziv_parka" required>

                <label for="godina_osnutka"><b>Godina osnutka</b></label>
                <input type="text" id = "godina_osnutka_add" placeholder="Upišite godinu osnutka" name="godina_osnutka" required>

                <label for="drzava"><b>Država</b></label>
                <input type="text" id = "drzava_add" placeholder="Upišite državu" name="drzava" required>

                <label for="lokacija"><b>Lokacija</b></label>
                <input type="text" id = "lokacija_add" placeholder="Upišite lokaciju" name="lokacija" required>

                <label for="wikipedia_stranica"><b>Wikipedia Stranica</b></label>
                <input type="text" id = "wikipedia_stranica_add" placeholder="Upišite Wiki Handle" name="wikipedia_stranica" required>

                <label for="prosj_broj"><b>Prosječni broj posjetitelja godišnja</b></label>
                <input type="text" id = "prosj_broj_add" placeholder="Upišite prosječni broj" name="prosj_broj" required>

                <label for="povrsina"><b>Površina</b></label>
                <input type="text" id = "povrsina_add" placeholder="Upišite površinu" name="povrsina" required>

                <label for="nativna_vrsta"><b>Nativna vrsta</b></label>
                <input type="text" id = "nativna_vrsta_add" placeholder="Upišite nativnu vrstu" name="nativna_vrsta" required>

                <label for="sluzbena_stranica"><b>Službena stranica</b></label>
                <input type="text" id = "sluzbena_stranica_add" placeholder="Link na službenu stranicu" name="sluzbena_stranica" required>

                <label for="klima"><b>Klima</b></label>
                <input type="text" id = "klima_add" placeholder="Upišite klimu" name="klima" required>

                <button type="submit" class="button button_add" id="add_button">Save</button>
                <button type="button" class="button cancel" onclick="closeForm3()">Cancel</button>
            </form>
        </fieldset>
           
        </div>
        
        <script>
            function deleteFunction(id) {
                
                var confirm_button = confirm("Are you sure?");
                id = id.firstChild.innerHTML;
                
                
                if(confirm_button){
                    $.ajax({
                        url: '/delete/:id',
                        data: jQuery.param({ id: id}) ,
                        type: 'DELETE',
                        
                        success: function(result) {
                            console.log(result);
                        }
                        
                    });
                    location.reload();
                    
                }
                
            }
        </script>
        <script>
            
            function openForm(id) {
               
                document.getElementById("myForm").style.display = "block";
                document.getElementById("id").value = id.childNodes[0].innerHTML;

                document.getElementById("naziv_parka").value = id.childNodes[2].innerHTML;
                document.getElementById("godina_osnutka").value = id.childNodes[4].innerHTML;
                document.getElementById("drzava").value = id.childNodes[6].innerHTML;
                document.getElementById("lokacija").value = id.childNodes[8].innerHTML;
                document.getElementById("wikipedia_stranica").value = id.childNodes[10].innerHTML;
                document.getElementById("prosj_broj").value = id.childNodes[12].innerHTML;
                document.getElementById("povrsina").value = id.childNodes[14].innerHTML;
                document.getElementById("nativna_vrsta").value = id.childNodes[16].innerHTML;
                document.getElementById("sluzbena_stranica").value = id.childNodes[18].innerText;
                document.getElementById("klima").value = id.childNodes[20].innerHTML;
                
                
            }
            
            document.getElementById("edit_button").addEventListener("click", function() {
                var id = document.getElementById("id").value;
                var naziv_parka = document.getElementById("naziv_parka").value;
                var godina_osnutka = document.getElementById("godina_osnutka").value;
                var drzava = document.getElementById("drzava").value;
                var lokacija = document.getElementById("lokacija").value;
                var wikipedia_stranica = document.getElementById("wikipedia_stranica").value;
                var prosj_broj = document.getElementById("prosj_broj").value;
                var povrsina = document.getElementById("povrsina").value;
                var nativna_vrsta = document.getElementById("nativna_vrsta").value;
                var klima = document.getElementById("klima").value;
                var sluzbena_stranica = document.getElementById("sluzbena_stranica").value;
                console.log(id);
                $.ajax({
                        url: '/edit/:id',
                        data: jQuery.param({ id:id,naziv_parka: naziv_parka, godina_osnutka:godina_osnutka, drzava: drzava, lokacija: lokacija, 
                            wikipedia_stranica: wikipedia_stranica, prosj_broj: prosj_broj, povrsina: povrsina, nativna_vrsta: nativna_vrsta, klima: klima, sluzbena_stranica:sluzbena_stranica}) ,
                        type: 'PUT',
                        
                        success: function(result) {
                            
                            
                            
                        },
                        error: function(error) {
                            
                            
                        }
                            
                        })
                    event.preventDefault();   
                    location.reload();
                    
                
        })
            
            
            function closeForm() {
                document.getElementById("myForm").style.display = "none";
            }
            
            
        </script>
        <script>
           
            
            
            
        </script>
        <script>
            function addFunction(id) {
                document.getElementById("myAddForm").style.display = "block";
            }
            
            document.getElementById("add_button").addEventListener("click", function() {
                var naziv_parka = document.getElementById("naziv_parka_add").value;
                var godina_osnutka = document.getElementById("godina_osnutka_add").value;
                var drzava = document.getElementById("drzava_add").value;
                var lokacija = document.getElementById("lokacija_add").value;
                var wikipedia_stranica = document.getElementById("wikipedia_stranica_add").value;
                var prosj_broj = document.getElementById("prosj_broj_add").value;
                var povrsina = document.getElementById("povrsina_add").value;
                var nativna_vrsta = document.getElementById("nativna_vrsta_add").value;
                var klima = document.getElementById("klima_add").value;
                var sluzbena_stranica = document.getElementById("sluzbena_stranica_add").value;
                
                $.ajax({
                        url: '/add',
                        data: jQuery.param({naziv_parka: naziv_parka, godina_osnutka:godina_osnutka, drzava: drzava, lokacija: lokacija, 
                            wikipedia_stranica: wikipedia_stranica, prosj_broj: prosj_broj, povrsina: povrsina, nativna_vrsta: nativna_vrsta, klima: klima, sluzbena_stranica:sluzbena_stranica }) ,
                        type: 'POST',
                        
                        success: function(result) {
                            
                        },
                        error: function(error) {
                            
                            
                            
                        }
                        
                    })
                    event.preventDefault();
                    location.reload();
        })
            
            function closeForm3() {
                document.getElementById("myAddForm").style.display = "none";
            }
            
            
        </script>
        
        <script>
          function viewFunction(id){
            var wikipedia_stranica = id.childNodes[10].innerHTML;
            console.log(wikipedia_stranica);
           
            $.ajax({
                    
                    url: 'http://en.wikipedia.org/w/api.php',
                    data: jQuery.param({action: 'query', titles: wikipedia_stranica, prop: 'pageimages', format: 'json', pithumbsize: 100 }) ,
                    type: 'GET',
                   
                    success: function(result) {
                        
                    },
                    error: function(error) {
                        
                        
                        
                    }
                    
                })
                event.preventDefault();
          } 
          
        </script>
    </body>
</html>