<!DOCTYPE html>
<html lang="hr">
    <head>
        <title>Nacionalni parkovi</title>
        <meta charset="UTF-8">
        <meta name="description" content="Baza podataka nacionalnih parkova">
        <meta name="author" content="Lucija Perković">
        <meta name="keywords" content="national parks, nacionalni parkovi, Yellowstone, Plitvička jezera">
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="./styles/datatables.css">
        <link rel="stylesheet" href="./styles/main.css">
        <script type="text/javascript" charset="utf8" src="./styles/datatables.js"></script>
        <script>
            $(document).ready( function () {
		        $('#myTable').DataTable();
            } );
            
        </script>
    </head>
    <body>
        <main>
            <h1>Nacionalni parkovi</h1>
            
            <table id = "myTable" class="display">
                <thead>
                    <tr>
                        <th>Naziv parka</th>
                        <th>Godina osnutka</th> 
                        <th>Država</th>
                        <th>Lokacija</th>
                        <th>Wikipedia stranica</th> 
                        <th>Prosječni broj posjetitelja godišnje</th>
                        <th>Površina (km na kvadrat)</th>
                        <th>Nativna vrsta</th> 
                        <th>Službena stranica</th>
                        <th>Klima</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let park of nac_parkovi) { %>
                        
                        <tr>
                            <td><%=park.nazivparka%></td>
                            <td><%=park.godinaosnutka%></td> 
                            <td><%=park.drzava%></td>
                            <td><%=park.lokacija%></td>
                            <td><%=park.wikipediastranica%></td> 
                            <td><%=park.prosjbrposjetiteljagodisnje%></td>
                            <td><%=park.povrsina%></td>
                            <td>
                                <% let br = 1 %>
                                <% for (let vrsta of park.nativnevrste) {%>
                                    <%=br%>. <%=vrsta%>
                                    <%br++%>
                                    <br>
                                <%}%>
                            </td> 
                            <td><a href="<%=park.sluzbenastranica%>">link</a></td>
                            <td><%=park.klima%></td>
                            <td><input type="button" value="View" class="button button_view" id = "view_click" onclick="openViewForm(this.parentNode.parentNode)"></td>
                            <td><input type="submit" value="Edit" class="button button_edit" id = "edit_click" onclick="openForm(this.parentNode.parentNode)"></td>
                            <td><input type="button" value="Delete" class="button button_delete" id = "delete_click" onclick="deleteFunction(this.parentNode.parentNode)"></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            
            <br>
            
            <div>
                <input type="button" value="Add airport" class="button button_add" id = "add_click" onclick="addFunction(this.parentNode.parentNode)">
                <a href="airports/JSONDownload" download ><input type="button" value="JSON Download" class="button button_download"></a>
            </div>
            
        </main>
        <script>
            function myFunction() {
                var input, filter, table, tr, th, i, txtValue, valueSelector;
                var wildcardSelector = ["nazivparka", "drzava", "lokacija", "wikipediastranica", "nativnevrste", "sluzbenastranica", "klima"];
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                valueSelector = document.getElementById("search_id").value;
                var hidden;
                if(valueSelector == "wildcard"){
                        for (i = 1; i < tr.length; i++) {
                            for(j = 0; j < 10; j++){
                                th = tr[i].getElementsByTagName("th")[j];
                                tr[i].style.display = "none";
                                  
                            } 
                            for(j = 0; j<10;j++){
                                th = tr[i].getElementsByTagName("th")[j];
                                
                                if (th) {
                                    txtValue = th.textContent || th.innerText;
                                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                        tr[i].style.display = "";
                                    } 
                                    
                                }  
                            }      
                        }
                    
                }
                else{
                        for (i = 0; i < tr.length; i++) {
                            th = tr[i].getElementsByClassName(valueSelector)[0];
                            if (th) {
                                txtValue = th.textContent || th.innerText;
                                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                                } else {
                                    tr[i].style.display = "none";
                                }
                            }       
                    }
                }
                
                
            }
        </script>
    </body>
</html>